In [1]:
import pandas as pd
df=pd.read_csv("calories.csv")
df

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190,94,29,105,40.8,231
1,14861698,female,20,166,60,14,94,40.3,66
2,11179863,male,69,179,79,5,88,38.7,26
3,16180408,female,34,179,71,13,100,40.5,71
4,17771927,female,27,154,58,10,81,39.8,35
...,...,...,...,...,...,...,...,...,...
14995,15644082,female,20,193,86,11,92,40.4,45
14996,17212577,female,27,165,65,6,85,39.2,23
14997,17271188,female,43,159,58,16,90,40.1,75
14998,18643037,male,78,193,97,2,84,38.3,11
14999,11751526,male,63,173,79,18,92,40.5,98

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   User_ID     15000 non-null  int64
 1   Gender      15000 non-null  object
 2   Age         15000 non-null  int64
 3   Height      15000 non-null  int64
 4   Weight      15000 non-null  int64
 5   Duration    15000 non-null  int64
 6   Heart_Rate  15000 non-null  int64
 7   Body_Temp   15000 non-null  float64
 8   Calories    15000 non-null  int64
dtypes: float64(1), int64(7), object(1)
memory usage: 996.2+ KB

In [3]:
df.describe()

,User_ID,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
count,1.500000e+04,15000.000000,15000.000000,15000.000000,15000.000000,15000.00000,15000.000000,15000.000000
mean,1.497736e+07,42.789800,174.465133,74.966867,15.244200,95.07060,40.025453,89.387533
std,2.872851e+06,16.980264,14.258114,15.035657,8.495609,11.56682,0.779230,62.516977
min,1.000116e+07,20.000000,123.000000,36.000000,0.000000,0.00000,37.100000,0.000000
25%,1.247419e+07,28.000000,164.000000,63.000000,8.000000,88.00000,39.600000,35.000000
50%,1.499728e+07,39.000000,175.000000,74.000000,15.000000,95.00000,40.200000,79.000000
75%,1.744928e+07,56.000000,185.000000,87.000000,23.000000,103.00000,40.600000,138.000000
max,1.999965e+07,79.000000,222.000000,132.000000,30.000000,128.00000,41.500000,314.000000

In [4]:
mean_value=df["Age"].mean()
print("Mean:",mean_value)

Mean: 42.7898

In [5]:
median_value=df["Height"].median()
print("Median:",median_value)

Median: 175.0

In [7]:
mode_value=df["Heart_Rate"].mode()[0]
print("Mode:",mode_value)

Mode: 91

In [8]:
df.head()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190,94,29,105,40.8,231
1,14861698,female,20,166,60,14,94,40.3,66
2,11179863,male,69,179,79,5,88,38.7,26
3,16180408,female,34,179,71,13,100,40.5,71
4,17771927,female,27,154,58,10,81,39.8,35

In [10]:
df.head(3)

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190,94,29,105,40.8,231
1,14861698,female,20,166,60,14,94,40.3,66
2,11179863,male,69,179,79,5,88,38.7,26

In [11]:
df.tail()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
14995,15644082,female,20,193,86,11,92,40.4,45
14996,17212577,female,27,165,65,6,85,39.2,23
14997,17271188,female,43,159,58,16,90,40.1,75
14998,18643037,male,78,193,97,2,84,38.3,11
14999,11751526,male,63,173,79,18,92,40.5,98

In [12]:
df.isnull()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
14995,False,False,False,False,False,False,False,False,False
14996,False,False,False,False,False,False,False,False,False
14997,False,False,False,False,False,False,False,False,False
14998,False,False,False,False,False,False,False,False,False
14999,False,False,False,False,False,False,False,False,False

In [13]:
df.isnull().head()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False

In [14]:
df.isnull().sum()

User_ID       0
Gender        0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
Calories      0
dtype: int64

In [15]:
df.head(2)

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190,94,29,105,40.8,231
1,14861698,female,20,166,60,14,94,40.3,66

In [16]:
import numpy as n
df["Age"].replace("",n.nan,inplace=True)

<ipython-input-16-7ae9c499f932>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].replace("",n.nan,inplace=True)

In [17]:
df.isnull().sum()

User_ID       0
Gender        0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
Calories      0
dtype: int64

In [19]:
df.replace("",n.nan,inplace=True)

In [20]:
df.isnull().sum()

User_ID       0
Gender        0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
Calories      0
dtype: int64

In [21]:
df["Age"]=pd.to_numeric(df["Age"],errors="coerce")

df["Age"].fillna(df["Age"].mean(),inplace=True)

<ipython-input-21-6bb045f3f4ce>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)

In [22]:
df["Age"]

0        68
1        20
2        69
3        34
4        27
         ..
14995    20
14996    27
14997    43
14998    78
14999    63
Name: Age, Length: 15000, dtype: int64

In [23]:
df["Age"].fillna(df["Age"].median(),inplace=True)

In [24]:
df["Age"]

0        68
1        20
2        69
3        34
4        27
         ..
14995    20
14996    27
14997    43
14998    78
14999    63
Name: Age, Length: 15000, dtype: int64

In [26]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["Gender-encoded"]=le.fit_transform(df["Gender"])
df["Gender-encoded"],df["Gender"]

(0        1
 1        0
 2        1
 3        0
 4        0
         ..
 14995    0
 14996    0
 14997    0
 14998    1
 14999    1
 Name: Gender-encoded, Length: 15000, dtype: int32,
 0          male
 1        female
 2          male
 3        female
 4        female
           ...
 14995    female
 14996    female
 14997    female
 14998      male
 14999      male
 Name: Gender, Length: 15000, dtype: object)